.App {
  text-align: center;
}
.question {
  border: 3px solid #c70000;
  border-radius: 16px;
  height: 125px;
  margin-bottom: 10px;
}
h1 {
  text-align: center;
  color: #0070ad;
}
h2 {
  font-size: .8em;
}
.PropName {
  font-weight: bold;
  color: #6264A7;
}
.Logo {
  font-size: 45pt;
  color: #6264A7;
}
.Error {
  color: red;
}
.chat {
  padding: 20px;
  border: 3px solid #c70000;
  border-radius: 16px;
}
.chat input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
}
.chat input[type="submit"] {
  background-color: #0070ad;
  color: white;
  padding: 5px 10px;
}
.chat label {
  color: #0070ad;
  font-weight: bold;
}
.chat p {
  color: #0070ad;
}
.tab {
  padding: 10px;
}